<div class="container mt-5" style="width: 40%">
  <form [formGroup]="userForm">
    <div class="form-group">
      <h5>First name</h5>
      <input
        type="text"
        name="fname"
        class="form-control"
        placeholder="enter here"
        formControlName="fname"
        [ngClass]="{
          'is-invalid':
            (userForm.get('fname').touched || userForm.get('fname').dirty) &&
            !userForm.get('fname').valid
        }"
      />
    </div>

    <div
      *ngIf="
        userForm.get('fname').errors?.required && userForm.get('fname').touched
      "
    >
      <small class="text-danger">enter required data</small>
    </div>
    <div *ngIf="userForm.get('fname').errors?.minlength">
      <small class="text-danger">enter atleast 3 characters</small>
    </div>

    <div class="form-group">
      <h5>last name</h5>
      <input
        type="text"
        name="lname"
        class="form-control"
        placeholder="enter here"
        formControlName="lname"
        [ngClass]="{
          'is-invalid':
            (userForm.get('lname').touched || userForm.get('lname').dirty) &&
            !userForm.get('lname').valid
        }"
      />
    </div>

    <div
      *ngIf="
        userForm.get('lname').errors?.required && userForm.get('lname').touched
      "
    >
      <small class="text-danger">enter required data</small>
    </div>
    <div *ngIf="userForm.get('lname').errors?.minlength">
      <small class="text-danger">enter atleast 3 characters</small>
    </div>

    <div class="form-group">
      <h5>Email</h5>
      <input
        type="text"
        name="email"
        class="form-control"
        placeholder="enter here"
        formControlName="email"
        [ngClass]="{
          'is-invalid':
            (userForm.get('email').touched || userForm.get('email').dirty) &&
            !userForm.get('email').valid
        }"
      />
    </div>

    <div
      *ngIf="
        userForm.get('email').errors?.required && userForm.get('email').touched
      "
    >
      <small class="text-danger">enter required data</small>
    </div>
    <div
      *ngIf="
        userForm.get('email').errors && !userForm.get('email').errors?.required
      "
    >
      <small class="text-danger">enter valid email</small>
    </div>

    <div class="form-group">
      <h5>Mobile</h5>
      <input
        type="number"
        name="mob"
        class="form-control"
        placeholder="enter here"
        formControlName="mob"
        [ngClass]="{
          'is-invalid':
            (userForm.get('mob').touched || userForm.get('mob').dirty) &&
            !userForm.get('mob').valid
        }"
      />
      <div
        *ngIf="
          userForm.get('mob').errors?.required && userForm.get('mob').touched
        "
      >
        <small class="text-danger">enter required data</small>
      </div>
      <div *ngIf="userForm.get('mob').errors?.pattern">
        <small class="text-danger">enter atleast 10 digits</small>
      </div>

      <div class="text-center mt-3">
        <button
          class="btn btn-primary mr-2"
          (click)="additem()"
          [disabled]="!userForm.valid"
        >
          Add
        </button>
        <button class="btn btn-warning ml-2" (click)="reset()">Reset</button>
      </div>
    </div>
  </form>
</div>

<div class="col-md-10 offset-1">
  <div class="text-center" style="border: 2px solid red; border-radius: 15px;" *ngIf="listdata?.length <= 0; else elseBlock">
    <h1>No Data To Show</h1>
  </div>

  <ng-template #elseBlock>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listdata">
          <td>
            <span>{{ item.fname }}</span>
          </td>
          <td>
            <span>{{ item.lname }}</span>
          </td>
          <td>
            <span>{{ item.email }}</span>
          </td>
          <td>
            <span>{{ item.mob }}</span>
          </td>
          <td>
            <span
              ><button class="btn btn-warning mr-2 ml-4" (click)="edit(item)">
                Edit
              </button></span
            >
            <span
              ><button class="btn btn-warning" (click)="remove(item)">
                Delete
              </button></span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
